<md-content flex layout>
    <md-whiteframe class="md-whiteframe-z1" flex>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="category in categories" infinite-scroll="getMoreCategories()" infinite-scroll-disabled=disablePaging >
                <div class="md-list-item-text" layout-padding>
                    <h4>{{$index}} {{category.id}}</h4>
                    <p> available locales</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-whiteframe>
</md-content>


<md-button class="md-fab md-primary fab-bottom-right" aria-label="Use Android" ui-sref="admin.categoryCreate">
    <img src="../bower_components/material-design-icons/content/1x_web/ic_add_white_24dp.png">
    <md-tooltip md-direction="left">
        {{ 'desc_action_category_new' | translate }}
    </md-tooltip>
</md-button>