html,
body,
body *{
    font-family: 'Roboto', sans-serif;
}


.full-page {
  width: 100vw;
  height: 100vh;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.overflow-y {
    overflow-y: auto;
}
.no-overflow {
    overflow: hidden;
}

.inline-block {
  display: inline-block;
}

.scale-02 {
  transform: scale(0.2);
  /*-webkit-transform: scale(0.2);*/
  /*-moz-transform: scale(0.2);*/
  /*-ms-transform: scale(0.2);*/
}

.fab-bottom-right {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.align-with-input {
    margin-top: 2.5em;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    overflow-x: hidden;
}

.no-decor,
.no-decor *{
    text-decoration: none!important;
}

.height-40{
    height: 40px;
}

.height-50{
    height: 50px;
}

.header-slim {
    font-size: 10em;
    font-weight: 100;
    display: inline-block;
}

.square-48 {
    height: 48px;
    width: 48px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-left {
    margin-left: 20px;
}

.cursor-pointer {
    cursor: pointer;
}