<md-content flex layout layout-align="center start" layout-margin>

    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center" flex >
        <form name="form" layout="column" flex="70" flex-sm="100" flex-md="100" layout-margin layout-padding
              ng-submit="submit(form, category)">
            <header>

                <h3>{{'category_update_title' | translate}} : {{category.id}}</h3>
            </header>

            <md-divider></md-divider>

            <section layout="row" layout-padding layout-align="center center">
                <md-select placeholder="{{'category_parent' | translate}}" ng-model="category.parent" flex="50">
                    <md-option ng-repeat="parent in availableParents" value="{{parent.id}}" translate>
                        {{parent.name}}
                    </md-option>
                </md-select>
            </section>

            <section layout="row" layout-md="column" layout-sm="column" layout-padding>
                <md-input-container flex flex-md="100" flex-sm="100">
                    <label>
                        {{'category_name' | translate}}
                    </label>
                    <input type="text" ng-model="category.name">
                </md-input-container>

                <md-select placeholder="{{'category_locale_default' | translate}}" ng-model="category.default_locale" flex="30"
                           flex-md="100" flex-sm="100" class="align-with-input">
                    <md-option ng-repeat="locale in supportedLocales" value="{{locale.value}}" translate>
                        {{locale.translation}}
                    </md-option>
                </md-select>

                <md-button type="button" class="md-fab md-mini md-primary align-with-input" aria-label="new translation"
                           ng-click="addAdditionalLocale()">
                    <img src="../../../bower_components/material-design-icons/content/1x_web/ic_add_white_24dp.png">
                    <md-tooltip md-direction="top">
                        {{ 'category_locale_add' | translate }}
                    </md-tooltip>
                </md-button>

            </section>
            <section>
                <section ng-repeat="locale in addedLocales" layout="row" layout-align="center center">
                    <section layout="row" layout-md="column" layout-sm="column" flex layout-padding
                             >
                        <md-input-container flex flex-md="100" flex-sm="100">
                            <label>
                                {{'category_name' | translate}}
                            </label>
                            <input type="text" ng-model="category.additionalValues[$index]">
                        </md-input-container>

                        <md-select placeholder="{{'category_locale' | translate}}" flex="30" flex-md="100" flex-sm="100"
                                   class="align-with-input" ng-model="category.additionalLocales[$index]">
                            <md-option ng-repeat="locale in supportedLocales" value="{{locale.value}}" translate>
                                {{locale.translation}}
                            </md-option>
                        </md-select>

                    </section>

                    <md-button ng-click="removeAdditionalLocale($index)" type="button" aria-label="remove entry"
                               class="md-icon-button align-with-input square-48" >
                        <img src="../../../bower_components/material-design-icons/content/1x_web/ic_clear_grey600_24dp.png">
                    </md-button>
                </section>
            </section>

            <header ng-show="children.length != 0">
                <h3>{{'subcategories_title' | translate}}</h3>
            </header>
            <md-divider ng-show="children.length != 0"></md-divider>

            <section ng-show="children.length != 0" class="margin-top-40">
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="child in children" layout="row" layout-align="center center">
                        <div class="md-list-item-text cursor-pointer" layout-padding flex="50" layout="row">
                            <md-button class="md-primary height-48" flex ui-sref="admin.category.update({id : child.id})">{{child.name}}</md-button>
                            <md-button ng-click="removeSubCategory($index)" type="button" aria-label="remove entry"
                                       class="md-icon-button square-48" >
                                <img src="../../../bower_components/material-design-icons/content/1x_web/ic_clear_grey600_24dp.png">
                            </md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </section>

            <section layout="row" class="margin-top-40" layout-align="end">
                <md-button type="button" class="md-primary" ng-click="remove()">{{ 'submit_remove' | translate}}</md-button>
                <md-button type="submit" class="md-primary md-raised margin-left" ng-disabled="disableSubmit">{{ 'submit_update' | translate}}</md-button>
            </section>
        </form>
    </md-whiteframe>
</md-content>