<md-content layout="column" layout-align="center center" class="full-page no-overflow" layout-padding>
    <h1 class="http-code">
        400
    </h1>
    <h3 class="http-title">{{ '400_title' | translate}}</h3>
    <p class="http-description col-xs-12 col-sm-10 col-md-8 col-lg-6" layout-padding layout-margin>
        {{ '400_desc' | translate}}
        <span class="animated fadeIn delay">:)</span>
        <span class="animated fadeIn delay-long">:)</span>
        <span class="animated fadeIn delay-extra-long">:)</span>
    </p>
    <md-button ui-sref="plain.comingSoon">{{ 'back_to_home' | translate}}</md-button>
</md-content>
