<md-content layout="column" layout-align="center center" class="full-page no-overflow" layout-padding>
    <h1 class="http-code">
        500
    </h1>
    <h3 class="http-title">
        {{ '500_title' | translate}}
        <span class="animated delay fadeIn">:(</span>
    </h3>
    <p class="http-description col-xs-12 col-sm-10 col-md-8 col-lg-6" layout-padding layout-margin>
        {{ '500_desc' | translate}}
    </p>
    <md-button ui-sref="plain.comingSoon">{{ 'back_to_home' | translate}}</md-button>
</md-content>
